<html>
<head>
	<title>Art Request Site</title>
	      <link type="text/css" rel="stylesheet" href="resources/css/bootstrap.min.css" />

</head>
<body>
	 <header>
		<% include partials/header %>
	</header>

	<h1>Art Request Site</h1>

		<% if (user) { %>
			<a href="/home">Go to Art Requests</a>
		<% } %>

</body>
</html>
